<% provide(:title, "") %>

<div class="container-fluid">
  <div class="row-fluid">

    <div class="hero-unit">Machine learning is awesome!! My projects are even more so!</div>

    <div class="span12">
      <ul class="thumbnails">

        <% 3.times do |n| %>
            <li class="span4">
              <%= render 'projectStub', p: Project.find(n+1) %>
            </li>
        <% end %>
      </ul>

    </div>
  </div>
</div>
