@import "bootstrap";

// universal
html {
  overflow-y: scroll;
}

body {
  padding-top: 60px;
}

// header
.logoText {
  float: left;
  margin-right: 10px;
  padding-top: 15px;
  padding-bottom: 5px;
  padding-left: 10px;

  font-size: 1.7em;
  font-weight: bold;
  color: #fff;
  line-height: 1;

  &:hover {
    color: #fff;
    text-decoration: none;
  }
}

.logo {
  float: left;
  margin-left: -10px;
}

.nav.pull-right {
  margin-right: -25px;
  padding-top: 7px;

  font-size: 1.1em;
}
