@import "bootstrap";

// universal
html {
  overflow-y: scroll;
}

.navbar.navbar-inverse {
  margin-bottom: 0px;
  position: fixed;
  width: 100%;
}

.navbar-inner {
  border-radius: 0px;
}

body {
  padding-top: 60px;
}

// header
.nav.pull-right {
  margin-right: -22px;
  padding-top: 17px;

  font-size: 0.8em;
}

#navbarcontainer {
  padding-right: 0px;
  padding-left: 0px;
}

.logoText {
  float: left;
  margin-right: 10px;
  padding-top: 15px;
  padding-bottom: 5px;
  padding-left: 10px;

  font-family: Arial, sans-serif;
  font-size: 1.7em;
  font-weight: bolder;
  font-style: normal;

  color: #fff;
  line-height: 1;

  &:hover {
    color: yellow;
    text-decoration: none;
  }
}

.logo {
  float: left;
  margin-left: -10px;
}

