
.well {
  padding: 0px;
}

.container-fluid {
  padding-left: 0px;
  padding-top: 10px;
}

.sidebar-nav {
  position: fixed;
  width: 21.97%;
}


.active{
  color: black;
  background-color: white;
}

.projectSide li a {
  color: white;
  background-color: black;

  &:hover {
    color: black;
    background-color: white;
  }
}

// comments stuff

.commenter {
  padding-top: 0px;
  margin-top: 0px;

  font-size: 10px;
  //font-family: prettyCursive;

  color: #989898;
}

.commentContent {
  margin-top: 5px;
  margin-bottom: 0px;

  //font-family: prettyCursive;
}


